@font-face{
	font-family: "dancing-script";
	src: url(DancingScript-Regular.otf);
}
body{
	background-color: #02010a;
	
}
#contenedorpaisajes{
	display: flex;
	flex-direction: column;
	font-family: "dancing-script";
}
header{
display: inline-block;
width: 100%;
background-color: #5b7989;
border-radius: 10px 10px 0px 0px;
animation: animacionslidein 1s;/*animacion slidein, para recordar*/
}
#cabecera li{
display: inline;
}
#cabecera li a{
text-decoration: none;
	color: white;
	margin-right: 10px;
}
#cabecera h1{
display: inline;
color: white;
text-shadow: 2px 2px 2px #02010a;
margin-left: 15px;
}
ul{
float: right;
display: inline;
}
#parte1{
	background: #82c3a6;	
}
#img1, #img2{
	display: flex;
}
#img1 img, #img2 img{
		width: 100%;
}

footer{
	display: flex;
	background-color: #C6d5c5;
	border-radius: 0 0 10px 10px;
	width: 100%;
	font-size: 20px;
}
footer div{	
	flex-basis: 25%;
	margin: 0 auto;
	margin-left: 20px;
}
footer div p img{
	width: 10%;
	height: 10%;
	margin-right: 10px;
}
#piedepagina div p a{
	text-decoration: none;
	color: black;
}
img{
 -webkit-filter: drop-shadow(2px 2px 2px  #02010a);
}
#imagen1{
	-webkit-filter: blur(10px);
}
#imagen2, #imagen4, #imagen6{
	-webkit-filter: grayscale(100%);
}
#imagen3{
     -webkit-filter: sepia(90%);
}
@-webkit-keyframes animacionslidein {
	0%{ margin-top: 150%; }
	60%{ margin-top: -5%; }
	100%{ margin-top: 0%; }
}/*animacion slidein, para recordar*/

@media (max-width: 899px){
	#contenedorpaisajes{
		width: 100%;
		margin: 0 auto;
	}
	header{
		display: flex;
		flex-direction: column;
	}
	#enlaces{
		padding-left: 30%;
	}
	#piedepagina{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	#img1, #img2{
			flex-direction: column;
		
	}
}
@media  (min-width:900px){
	#contenedorpaisajes{
	    width: 900px;
		margin: 0 auto;
	}
}
